.verticalAlignParent
{
    font-size: 50px;
    color :white;
}
.imageDim
{
    height: 60 px;
    width: 100 px;
    border-radius: 50px;
}
.verticalAlignTextBottom
{
    vertical-align : text-bottom;
}
.navigationBar
{
    background-color: #f27798;
    overflow : hidden;
}
.navigationBar a
{
    float : right;
    color : white;
    text-align: center;
    text-decoration: none;
}
.navigationBar a:hover
{
    background-color: #7a061f;
    color : white;
    font-size: 50px;
}
.navigationBar a.active
{
    background-color: #7a061f;
    color :white;
    font-size:50px;
}
.backgroundText
{
    font-style:italic;
    font-weight: bolder;
    padding-top: 150px;
    text-align:center;
    color :  black;
    font-size : 50px;
    text-shadow: 2 px 2 px 3 px rgb(61, 24, 24), 2 px 2 px 3 px rgb(169, 98, 98), 2 px 2 px  3 px rgb(100, 56, 56);
}
.background
{
    width : 100%;
    height : 650px;
    background-image: url("bgg.avif");
    background-position : center;
    background-size : cover;
    background-repeat :no-repeat;
    opacity : 80%;
    
}
.border
{
    border-width : 5px;
    border-color: white;
    border-style: none;
}
.text
{
    text-align :center;
    color : rgb(12, 12, 12);
    font-size : 30px;
    text-decoration: underline 3px;

}
.verticalAlignParent1
{
    text-decoration: underline  rgb(18, 18, 18) 2px;
    font-size: 60px;
    color : rgb(27, 26, 26);

}
.verticalAlignParent2
{
    text-decoration: underline rgb(16, 16, 16) 2px;
    font-size: 50px;
    color : rgb(11, 11, 11);
    text-indent : 10px;
}
.text1
{
    color : rgb(13,13,13);
    font-size : 20px;
    line-height: 20px;
    white-space : pre-line;
    word-spacing : 8px;
    text-align: left;
}
.image1
{
    float : right;
    height: 300px;
    width:450px;
}
.image2
{
    padding-right: 10px;
    float : left;
    height: 300px;
    width:450px;
}
.text2
{
    color : rgb(13, 13, 13);
    font-size : 23px;
    line-height: 20px;
    white-space : pre-line;
    word-spacing : 5px;
    text-align: left;
    font-style: normal;
}
.footer
{
    color : rgb(9, 9, 9);
    font-size : 25px;
    text-align: center;
}

.form
{
    font-size : 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.text3
{
    color : rgb(13, 13, 13);
    font-size : 30px;
    text-align: center;

}
.text4
{
    color : rgb(13, 13, 13);
    font-size : 20px;
    line-height: 20px;
    text-align: center;
}

    
    

